.form-control {
  margin: 0.5rem 0;
}

input {
  display: block;
  width: 100%;
  border: 2px solid orange;
  line-height: 1.5rem;
  padding: 0.7rem 1.5rem;
}

input:focus {
  outline: none;
  background: #ffc87c;
  border-color: #ff8c00;
}
