.form-control {
  margin: 0.5rem 0;
}

input {
  font-family: "Rubik", sans-serif;
  display: block;
  font-size: 18px;
  width: 100%;
  border: 2px solid orange;
  line-height: 1.5rem;
  padding: 0.7rem 1.5rem;
}

input:focus {
  outline: none;
  background: #ffc87c;
  border-color: #fb4f14;
}

::placeholder {
  font-family: "Bruno Ace", cursive;
  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}

.words {
  font-family: "Bruno Ace", cursive;
  margin-bottom: 20px;
  color: #fb4f14;
  font-size: 18px;
  letter-spacing: 2px;
}

@media (max-width: 360px) {
  ::placeholder {
    font-size: 12px;
  }
}
