.footer--container {
  position: relative;
  top: 40px;
  background: orange;
  color: #fff5ee;
  font-size: 16px;
  max-width: 650px;
  margin: 20px auto;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: center;
}
.footer--icons--container {
  display: flex;
  justify-content: center;
}
.footer--icon {
  font-size: 30px;
  color: #ff4500;
  margin: 0 2rem;
  transition: all 150ms ease-in-out;
}

.footer--icon:hover {
  color: aliceblue;
}

.copyright {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.copyright--year {
  margin-left: 0.5rem;
}
