.footer--container {
  position: relative;
  top: 40px;
  background: orange;
  color: #fff5ee;
  font-size: 16px;
  max-width: 650px;
  margin: 20px auto;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: center;
}

.footer--icon {
  font-size: 30px;
  color: #ff4500;
}
