.meaning {
  background-color: #ffdead;
  border-radius: 25px;
  padding: 2rem;
  transition: all 200ms ease-in-out;
}

.meaning:hover {
  background-color: #ffb347;
  cursor: pointer;
}

.paragraph--definition {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 15px 0;
  line-height: 1.5;
  letter-spacing: 2px;
}

.italic--definition {
  font-size: 0.9rem;
}

/* 
=======================================
MEDIA QUERIES: MOBILE & TABLET DEVICES
=======================================
 */

@media (max-width: 360px) {
  .meaning {
    position: relative;
    right: 60px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background: none;
    color: aliceblue;
  }

  .paragraph--definition {
    font-size: 1rem;
    line-height: 1;
    padding: 8px;
  }
}
