.meaning {
  border: var(--inner-border);
  border-radius: 25px;
  padding: 2rem;
}

.definition--heading {
  color: var(--orange-2);
  font-size: 2.5rem;
  text-transform: var(--text-style);
  line-height: var(--line-height);
  letter-spacing: var(--spacing);
}

.paragraph--definition {
  font-family: var(--ff-secondary);
  color: var(--white);
  font-weight: 400;
  font-size: 1.2rem;
  padding: 15px 0;
  line-height: 1.5;
  letter-spacing: var(--spacing);
}

.italic--definition {
  color: var(--orange-2);
  font-size: 0.9rem;
  line-height: var(--line-height);
  transition: all 0.5s ease-in-out;
}

.italic--definition:hover {
  font-size: 1.1rem;
  cursor: pointer;
}

/* 
=======================================
MEDIA QUERIES: MOBILE & TABLET DEVICES
=======================================
 */

@media (max-width: 414px) {
  .meaning {
    position: var(--position-object);
    right: 60px;
    border: none;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .meaning:hover {
    background: none;
  }

  .definition--heading {
    font-size: 20px;
    color: var(--orange-2);
    text-transform: var(--text-style);
    line-height: 1.2;
    letter-spacing: 2px;
  }

  .paragraph--definition {
    color: var(--white);
  }
}

@media (max-width: 390px) {
  .meaning {
    position: var(--position-object);
    right: 60px;
    background: none;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .meaning:hover {
    background: none;
  }

  .definition--heading {
    font-size: 20px;
    color: var(--orange-2);
    text-transform: var(--text-style);
    line-height: var(--line-height);
    letter-spacing: var(--spacing);
  }

  .paragraph--definition {
    color: var(--white);
  }
}

@media (max-width: 360px) {
  .meaning {
    position: var(--position-object);
    background: none;
    right: 60px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .paragraph--definition {
    font-size: 1rem;
    line-height: 1;
    padding: 8px;
  }
}
