.meaning {
  background-color: #ffdead;
  border-radius: 25px;
  padding: 2rem;
  transition: all 200ms ease-in-out;
}

.meaning:hover {
  background-color: #ffb347;
  cursor: pointer;
}

.paragraph--definition {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 2px;
}
