.audio--player {
  margin: 20px 0;
  position: relative;
  right: 30px;
}

.phonetic--text {
  text-align: center;
  font-size: 2.5rem;
}

/* 
=======================================
MEDIA QUERIES: MOBILE & TABLET DEVICES
=======================================
 */

@media (max-width: 414px) {
  .audio--players {
    position: relative;
    right: 30px;
    width: 160px;
  }
  .audio--player {
    margin: 0;
  }

  .phonetic--text {
    font-size: 1rem;
  }
}

@media (max-width: 390px) {
  .audio--players {
    position: relative;
    right: 35px;
    width: 160px;
  }
  .audio--player {
    margin: 0;
  }

  .phonetic--text {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .audio--players {
    position: relative;
    right: 15px;
    width: 160px;
  }
  .audio--player {
    margin: 0;
  }

  .phonetic--text {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .audio--players {
    position: relative;
    right: 40px;
    width: 150px;
  }

  .phonetic--text {
    position: relative;
    right: 20px;
  }
}
