.audio--player {
  margin: 20px 0;
  position: relative;
  right: 30px;
}

.phonetic--text {
  text-align: center;
  font-size: 2.5rem;
}

@media (max-width: 360px) {
  .audio--players {
    width: 120px;
  }
  .audio--player {
    margin: 0;
  }

  .phonetic--text {
    font-size: 1rem;
  }
}
