.word--img {
  margin: 1rem 1rem;
  border: 2px solid #fd5800;
}

/* 
=======================================
MEDIA QUERIES: MOBILE & TABLET DEVICES
=======================================
 */
@media (max-width: 414px) {
  .image--container {
    position: relative;
    right: 15px;
  }
}
