.results--container {
  position: var(--position-object);
  left: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--orange-2);
  border: 1px solid var(--white);
  border-radius: 25px;
  padding: 5rem;
  max-width: 500px;
  margin: 2rem 2rem;
}

.definition--section {
  border-radius: 8px;
  margin: 2rem;
  padding: 30px;
}

.definition--word {
  font-family: var(--ff-primary);
  text-align: center;
  font-size: 3.5rem;
  /* letter-spacing: 2px; */
  text-transform: var(--text-style);
}

/* 
=======================================
MEDIA QUERIES: MOBILE & TABLET DEVICES
=======================================
 */
@media (max-width: 1100px) {
  .results--container {
    position: var(--position-object);
    left: 110px;
  }
}

@media (max-width: 900px) {
  .results--container {
    position: var(--position-object);
    left: 55px;
  }
}

@media (max-width: 414px) {
  .results--container {
    position: var(--position-object);
    left: 8px;
  }

  .definition--word {
    position: var(--position-object);
    left: -10px;
    font-size: 1.5rem;
  }
}

@media (max-width: 390px) {
  .results--container {
    position: var(--position-object);
    left: 8px;
  }
  .definition--word {
    position: var(--position-object);
    left: -40px;
    font-size: 1.2rem;
  }
}

@media (max-width: 360px) {
  .definition--word {
    position: var(--position-object);
    right: 40px;
    font-size: 1.2rem;
  }
  .results--container {
    margin: 20px auto;
    position: var(--position-object);
    left: 6px;
    max-width: 360px;
  }
}
