.results--container {
  position: relative;
  left: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  max-width: 400px;
  margin: 2rem 2rem;
  background-color: aqua;
}

.definition--section {
  border-radius: 8px;
  margin: 2rem;
  padding: 30px;
}

.definition--word {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
