.results--container {
  position: relative;
  left: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff4500;
  border-radius: 25px;
  padding: 5rem;
  max-width: 400px;
  margin: 2rem 2rem;
}

.definition--section {
  border-radius: 8px;
  margin: 2rem;
  padding: 30px;
}

.definition--word {
  font-family: "Bruno Ace", cursive;
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.italic--definition {
  font-size: 1.2rem;
  font-style: italic;
  font-size: medium;
}
