* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #100c08;
}

h1 {
  font-family: var(--ff-primary);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
