/* 
==================================
**********CSS VARIABLES**********
==================================
 */

:root {
  --orange-1: orange;
  --orange-2: orange;
  --orange-3: orange;
  --orange-4: orange;

  --white: white;
  --ff-primary: "Bruno Ace", cursive;
  --ff-secondary: "Rubik", sans-serif;
  --spacing: ;
  --radius: ;
  --outer-shadow: ;
  --text-shadow: ;
  --outer-border: ;
  --inner-border: ;
  --line-height: ;
  --position: ;
}
